@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pump {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1);
    }
}

.gamesCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.42);
    border-radius: 15px;
    max-width: 400px;
    word-break: break-all;
    animation: fadeIn 0.5s ease-in-out;
}


.stars button {
    all: unset;
}

.actived {
    fill: #cdaf44;
}

.newicons {
    display: flex;
    text-align: center;
    justify-content: center;
}

.heartIcon {
    font-size: 30px;
    margin: 0 10px 10px;
    width: 10%;
    border: none;
}

button.added svg {
    fill: #ff0000;
    animation: pump 0.5s ease-in-out;
}

.heartIcon svg {
    fill: rgb(185, 185, 185);
    transition: 0.4s;
}

.heartIcon:hover {
    cursor: pointer;
}

.heartIcon:hover svg {
    cursor: pointer;
    fill: #a02e2e;
}

.stars {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 30px;
    width: 50%;
    margin: 0 10px 10px;
    position: relative;
}

.stars:hover {
    cursor: pointer;
}

.title {
    font-weight: bold;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding: 0.5rem;
}


h2.message {
    position: absolute;
    flex-wrap: wrap;
    width: 300px;
    font-size: 20px;
    border-radius: 15px;
    background-color: #535353f7;
    padding: 10px;
}

h2.messageStar {
    position: absolute;
    flex-wrap: wrap;
    width: 400px;
    font-size: 20px;
    border-radius: 15px;
    background-color: #535353f7;
    padding: 10px;
    margin-right: 3rem;
}

.publisher {
    font-weight: lighter;
    font-size: small;
}

.shortDescription {
    font-size: small;
    padding: 1rem;
    height: 120px;
    overflow-y: auto;
}

.icon {
    background: none;
    transition: 0.5s;
    fill: #f7d354;
}

.link:hover>svg {
    fill: #242424;
}

@media screen and (max-width: 500px) {
    .title {
        font-size: inherit;
    }

    .gameImage {
        max-width: 100%;
    }
}


@media screen and (max-width: 300px) {
    .gamesCard {
        margin: 1rem 0;
        padding: 0.5rem;
        border-radius: 10px;
    }

    .gameImage {
        display: none;
    }
}